.article {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.movieList {
    position: relative;
    left: 4px;
    margin-bottom: 40px;
}

.movieItem {
    /*margin-bottom: 20px;*/
    min-height: 700px;
}